nav{
    /*position: fixed;*/
    width: 100%;
    height: 58px;
    flex-direction: row;
    display: flex;
    font-family: "Roboto-Regular";
    font-size: 20px;
    box-shadow: 0px 5px 5px #888888;
    
}
.nav-option{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}
.left-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    background-color: #004C81;
    transition: all 0.3s;
}
.left-nav:hover{
    width: 101%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    background-color: #004C81;
    transition: all 0.3s;
}
.right-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 100px;
    background-color: #006BB6;
}

input{
    border-radius: 20px;
    height: 26px;
    border: none;
    padding: 10px;
}
input:focus{
    outline: none;
}

