<section class="fight-view" ng-controller="fightCtrl">
    <nav-dir class="nav-dir2"></nav-dir>
    <!-- <a ui-sref="results-view"><img src="../../images/Fight-View.png" class="view-img"></a> -->

       <div class="fight-view-wrapper">

            <div class="player-card-container-left">
               <div class="player-card">
                   <div>
                       <img>
                    </div>
                    <p>{{main.leftPlayer.playername || "babies"}}</p>
                </div>
            </div>
            
            
            <div class="player-card-container-right">
                <div class="player-card">
                    <div>
                        <img>
                    </div>
                    <p>{{main.rightPlayer.playername}}</p>
                </div>
            </div>

            <div class="vs-fight-container">
                <p>VS</p>
                <button class="fight-btn">FIGHT!</button>
            </div>
            
        </div>
        
   
</section>