.choose-a-team{
    font-family: "Roboto-Regular";
    color: #072840;
    font-size: 65px;
    text-align: center;
    margin: 65px auto;
    
}

.carousel-wrapper{
    /* display: flex;
    align-items: center; */
    margin: 60px;
}

.card{
    height: 40vh;
    width: 17%;
    background: #C9C9C9;
    border-radius: 15px;
    margin: 10px 25px;
    text-align: center;
    transition: all .4s, ease-out;
    padding-top: 40px;
    padding-bottom: 40px;

}
.card:hover{
    text-align: center;
    transform: scale(1.025);
    z-index: 2;
    box-shadow: -2px 3px 13px 1px darkslategrey;
    border:2px solid white;
    transition: all .4s, ease-out;
}

.card p{
    font-size:2em;
    text-align: center;
    width: 100%;
    color: darkgray;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    opacity: .01;
    transition: all .4s ease-out;
    font-family: "Roboto-Regular";
}
a{
    text-decoration: none;
}
.card:hover p{
    opacity: 1;
    transition: all .4s ease-out;
}
.card img{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

a:focus{
    outline: none;
}
