<h1 class="choose-a-team">Choose a Team.</h1>

<!--Carousal-->
<div  class="carousel-wrapper" id="team-slider" bc-flickity="{{flickityOptions}}">
  
  <div class="card carousel-cell" ng-repeat="teamData in teamData"><p>{{teamData.city}}</p><a ui-sref="team-roster({teamId: '{{teamData.name}}' })"><img ng-src="{{teamData.logo}}"><p>{{teamData.shortname}}</p></a></div>
  <!-- <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[0].name}}' })"><img ng-src="{{teamData[0].logo}}"><p>{{teamData[0].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[1].name}}' })"><img ng-src="{{teamData[1].logo}}"><p>{{teamData[1].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[2].name}}' })"><img ng-src="{{teamData[2].logo}}"><p>{{teamData[2].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[3].name}}' })"><img ng-src="{{teamData[3].logo}}"><p>{{teamData[3].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[4].name}}' })"><img ng-src="{{teamData[4].logo}}"><p>{{teamData[4].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[5].name}}' })"><img ng-src="{{teamData[5].logo}}"><p>{{teamData[5].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[6].name}}' })"><img ng-src="{{teamData[6].logo}}"><p>{{teamData[6].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[7].name}}' })"><img ng-src="{{teamData[7].logo}}"><p>{{teamData[7].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[8].name}}' })"><img ng-src="{{teamData[8].logo}}"><p>{{teamData[8].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[9].name}}' })"><img ng-src="{{teamData[9].logo}}"><p>{{teamData[9].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[10].name}}' })"><img ng-src="{{teamData[10].logo}}"><p>{{teamData[10].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[11].name}}' })"><img ng-src="{{teamData[11].logo}}"><p>{{teamData[11].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[12].name}}' })"><img ng-src="{{teamData[12].logo}}"><p>{{teamData[12].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[13].name}}' })"><img ng-src="{{teamData[13].logo}}"><p>{{teamData[13].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[14].name}}' })"><img ng-src="{{teamData[14].logo}}"><p>{{teamData[14].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[15].name}}' })"><img ng-src="{{teamData[15].logo}}"><p>{{teamData[15].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[16].name}}' })"><img ng-src="{{teamData[16].logo}}"><p>{{teamData[16].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[17].name}}' })"><img ng-src="{{teamData[17].logo}}"><p>{{teamData[17].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[18].name}}' })"><img ng-src="{{teamData[18].logo}}"><p>{{teamData[18].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[19].name}}' })"><img ng-src="{{teamData[19].logo}}"><p>{{teamData[19].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[20].name}}' })"><img ng-src="{{teamData[20].logo}}"><p>{{teamData[20].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[21].name}}' })"><img ng-src="{{teamData[21].logo}}"><p>{{teamData[21].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[22].name}}' })"><img ng-src="{{teamData[22].logo}}"><p>{{teamData[22].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[23].name}}' })"><img ng-src="{{teamData[23].logo}}"><p>{{teamData[23].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[24].name}}' })"><img ng-src="{{teamData[24].logo}}"><p>{{teamData[24].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[25].name}}' })"><img ng-src="{{teamData[25].logo}}"><p>{{teamData[25].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[26].name}}' })"><img ng-src="{{teamData[26].logo}}"><p>{{teamData[26].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[27].name}}' })"><img ng-src="{{teamData[27].logo}}"><p>{{teamData[27].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[28].name}}' })"><img ng-src="{{teamData[28].logo}}"><p>{{teamData[28].shortname}}</p></a></div>
  <div class="card carousel-cell"><a ui-sref="team-roster({teamId: '{{teamData[29].name}}' })"><img ng-src="{{teamData[29].logo}}"><p>{{teamData[29].shortname}}</p></a></div> -->


</div>
