/*.fight-view{
    width: 100%;
    height: 100vh;
    background-image: url("../../images/Background/black background.png");
    background-size: cover;
    
}*/

.view-img{
    width: 100vw;
    height: 100vh;
}

.nav-dir2{
    position: fixed;
    width: 100%;
}